<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diatoz.bestpractices">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BestPractices">
        <activity
            android:name=".ui.activities.DraggableViewActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.GoogleSignInActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.activities.ComposeActivity"
            android:exported="true"
            android:theme="@style/Theme.BestPractices">

        </activity>
        <activity
            android:name=".alarm.AlarmLogsActivity"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".alarm.ScheduleListActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar">
        </activity>
        <activity android:name=".signup.MainActivity">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->
        </activity>
        <activity
            android:name=".alarm.AddTimeActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />

        <receiver android:name=".alarm.AlarmReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>